#pagelet_bluebar:hover form#login_form {
    position: relative;
    transition: left 0.10s linear;
    -webkit-transition: left 0.10s linear;
    left: 1000px;
}

#pagelet_bluebar form#login_form {
    position: relative;
    transition: left 0.10s linear;
    -webkit-transition: left 0.10s linear;
    left: 0;
}

#pagelet_bluebar i.fb_logo {
    position: relative;
    top: 0;
}

#pagelet_bluebar:hover i.fb_logo {
    position: relative;
    top: 100px;
    transition: top 0.2s linear;
    -webkit-transition: top 0.2s linear;
}

